.contact{
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 1rem 0 7rem 0;
    // padding-left: 1rem;
    position: relative;
    // top:-10rem;
    

  
    // background-color: rgb(43, 43, 43);
    // background: rgb(2,2,33);
    // background: linear-gradient(110deg, rgba(2,2,33,1) 5%, rgb(8, 92, 194) 80%, rgba(3, 155, 127, 0.788) 100%);
    .contact-form{
        // width: 65%;
        height: auto;
        // padding: 1rem;

    

        .form{
            
            width: 100%;
            height: 100%;
            padding: 1rem 1rem;
            margin: auto;
            position: relative;
            p{
                color: red;
                font-size: .9rem;
                margin: 0;
            }

            .inputfield{
                padding: 3rem 1rem ;
                padding-bottom: 5px;

                // label{
                //     padding: 10px;
                //     letter-spacing: 5px;
                //     color: rgb(22, 174, 22);
                //     font-weight: 600;
                // }
                input,textarea{
                    width:100%;
                    height: 30px;
                    background-color: transparent;
                    // border:0 0 2px 0 solid white;
                    border: none;
                    transition: all .4s;
                    outline: none;
                    border-bottom: 2px solid rgb(130, 132, 130);
                    color: white;
                    font-size: 1.2rem;
                    &::placeholder{
                        color: rgb(198, 183, 247);
                        padding: 0px 10px;
                         letter-spacing: 5px;
                         
                    }
                    &:focus{
                        border: none;
                        outline: none;
                        border-bottom: 2px solid rgb(122, 88, 245);
                    }
                }
                textarea{
                    width: 100%;
                    height: 6rem;
                }
            }

            .form-sub{
                margin: auto;
                padding: .8rem 1rem;
                letter-spacing: 5px;
                font-size: 1.5rem;
                font-weight: 500;
                outline: 2px solid #5b28e9;
                color: rgb(132, 98, 245);
                background-color: transparent;
                border: none;
                margin-top: 2rem;
                position:absolute;
                left:50%;
                transform: translateX(-50%);
                width:80%;
                text-align: center;
                cursor: pointer;
                box-shadow: inset 0 0 0 0 #5b28e9;
  transition: all 1s;

                &:hover{
                    //    background-size: 100%;
                    //    background-color: azure;
                    box-shadow: inset 40rem 0 0 0 #5b28e9;
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                }
            }
            

        }

    }
    .details{
        width: 40%;
        height: 100%;
    }
}
.contact-head{
    font-size: 3rem;
    color: #634EF6;
    letter-spacing: 4px;
    font-weight: 500;
    margin: auto;
    // padding: 1rem;
    text-align: center;
}
.contact-box{
    background-image: url("/src/assets/star.jpg");
    background-color: rgba(0, 0, 0, 0.586);
    background-blend-mode: darken;
    height: 100%;
}
